body{
background-image:url(photo/fon.jpeg);
background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
color:white;

}

.head{
font-family:Mistral;
}

.menu{
	list-style:none;
	margin:30px;
	padding:15px;
	
}

a{
padding: 20px;	
color:green;

}

a:hover{
  color:blue;
 
	border-radius:20%;
}

a:active{
  color:purple;
	
	border-radius:20%;
}

li{
	display:inline;
}


.one{
color:red;	
font-family:Verdana;
}

.sets{
border: solid white 2px;
border-radius:20%;
height:350px;
width:400px;	
	padding:5px;
	margin:15px;
}

































































































































